body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

footer {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* the input has to be "visible", if you use display: none copy won't work. */
.copy-target {
  position: absolute;
  height: 1px;
  left: -3000px;
}

.logout {
  margin-top: 30px;
  float: right;
}
