<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Multi Emailer</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          {{ if .Title }}
          <h1>{{ .Title }}</h1>
          {{ else }}
          <h1>multi-emailer</h1>
          {{ end }}
        </div>
      </div>
      {{ if .Error }}
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-danger" role="alert">{{ .Error }}</div>
        </div>
      </div>
      {{ end }}
      {{ if .Success }}
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-success" role="alert">{{ .Success }}</div>
        </div>
      </div>
      {{ end }}
      <div class="row">
        <form method="POST" action="/v1/send" />
          <div class="col-md-6">
            <p>
            Sending messages from <b>{{ .Email }}</b>. The messages will appear
            like personalized emails from your GMail account.
            </p>
            <p>
            If you live in an official's district, be sure to mention it as
            public officials pay special attention to their constituents.
            </p>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input class="form-control" required="true" type="text" name="subject" value="" placeholder="Subject" />
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea class="form-control" name="body" required="true" rows="10">Start typing the first paragraph here - skip the "Dear X", line, we'll fill it in.</textarea>
              <p class="help-block">"Dear &lt;X&gt;," will be automatically inserted on the first line with the person's name.<br />Supports <a href="http://commonmark.org/help/">Markdown</a> syntax.</p>
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
          </div>
          <div class="col-md-6">
            <h3>Who should we send to?</h3>
            <hr>
            <div class="radio">
              <label>
                <input type="radio" name="group_id" required="true" id="test" value="test">
                Send a test message to yourself
              </label>
            </div>
            {{ range .Groups }}
            <div class="radio">
              <label>
                <input type="radio" name="group_id" required="true" id="{{ .ID }}" value="{{ .ID }}">
                {{ .Name }} {{ if gt (len .Recipients) 1 }}({{ len .Recipients }} recipients){{ else }}(1 recipient{{ if (index .Recipients 0).CC }}, {{ len (index .Recipients 0).CC }} cc'd{{ end }}){{ end }}
              </label>
            </div>
            {{ end }}
          </div>
        </form>
      </div>
      <footer>
      <p>
      Created by <a href="https://burke.services">Kevin Burke</a>. By viewing this page, you agree to the <a href="https://github.com/kevinburke/multi-emailer/tree/master/LICENSE">terms of use</a>.
      </p>
      <p>
      Compiled using {{ .Version }}. <a href="https://github.com/kevinburke/multi-emailer">View the source code and report errors</a>
      </p>
      </footer>
    </body>
  </html>
