<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Multi Emailer</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          {{ if .Title }}
          <h1>{{ .Title }}</h1>
          {{ else }}
          <h1>multi-emailer</h1>
          {{ end }}
        </div>
      </div>
      {{ if .Error }}
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-danger" role="alert">{{ .Error }}</div>
        </div>
      </div>
      {{ end }}
      {{ if .Success }}
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-success" role="alert">{{ .Success }}</div>
        </div>
      </div>
      {{ end }}
      <div class="row">
        <form method="POST" action="/v1/send" />
          <div class="col-md-6">
            <p>
            Sending messages from <b>{{ .Email }}</b>. The messages will appear
            like personalized emails from your GMail account.
            </p>
            <p>
            If you live in an official's district, be sure to mention it as
            public officials pay special attention to their constituents. It
            makes your message more powerful when you say what NEIGHBORHOOD and
            CITY you live in.
            </p>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input id="subject" class="form-control" required="true" type="text" name="subject" value="{{ .Subject }}" placeholder="Subject" />
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea id="body" class="form-control" name="body" required="true" rows="10">
                {{- if .Body -}}
                  {{- .Body -}}
                {{- else -}}
                Start typing the first paragraph here - skip the "Dear X", line, we'll fill it in.
                {{- end -}}
              </textarea>
              <p class="help-block">"Dear &lt;X&gt;," will be automatically inserted on the first line with the person's name.<br />Supports <a href="http://commonmark.org/help/">Markdown</a> syntax.</p>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Send</button>
              </div>
              <div class="col-md-8">
                <div style="text-align: right;">
                  <a title="Click to copy" class="clipboard" href="#">Get a shareable link for this email &#x1f4cb;</a>
                  <input class="copy-target" type="text" value="" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Who should we send to?</h3>
            <hr>
            <div class="radio">
              <label>
                <input type="radio" name="group_id" required="true" id="test" value="test">
                Send a test message to yourself
              </label>
            </div>
            {{ range .Groups }}
            <div class="radio">
              <label>
                <input type="radio" name="group_id" required="true" id="{{ .ID }}" value="{{ .ID }}">
                {{ .Name }} {{ if gt (len .Recipients) 1 }}({{ len .Recipients }} recipients){{ else }}(1 recipient{{ if (index .Recipients 0).CC }}, {{ len (index .Recipients 0).CC }} cc'd{{ end }}){{ end }}
              </label>
            </div>
            {{ end }}
          </div>
        </form>
      </div>
      <footer>
      <p>
      Created by <a href="https://burke.services">Kevin Burke</a>. By viewing this page, you agree to the <a href="https://github.com/kevinburke/multi-emailer/tree/master/LICENSE">terms of use</a>.
      </p>
      <p>
      Compiled using {{ .Version }}. <a href="https://github.com/kevinburke/multi-emailer">View the source code and report errors</a>
      </p>
      </footer>
      <script>
      var MultiEmailer = {};
      MultiEmailer.PublicHost = "{{ .PublicHost }}";
      MultiEmailer.evHandler = function(clipboardElem) {
        return function() {
          var pnCopy = clipboardElem.parentNode.querySelector('.copy-target');
          if (pnCopy === null) {
            return;
          }
          var subject = document.getElementById('subject').value;
          var body = document.getElementById('body').value;
          pnCopy.value = MultiEmailer.PublicHost+'?subject='+encodeURIComponent(subject)+'&body=' + encodeURIComponent(body);
          pnCopy.select();
          try {
            result = document.execCommand('copy');
            if (result === false) {
              throw new Error("Could not copy value: " + pnCopy.value);
            }
          } catch (e) {
            console.error(e);
            alert("Couldn't copy text, sorry. Here it is: " + pnCopy.value);
          }
          alert('Copied your share URL to the clipboard');
          pnCopy.blur();
        };
      };

      (function() {
        var clipboards = document.querySelectorAll('.clipboard');
        for (var i = 0; i < clipboards.length; i++) {
          var clipboard = clipboards[i];
          // TODO check existing event listeners - don't want to register every time
          clipboard.addEventListener('click', MultiEmailer.evHandler(clipboard));
        }
      })();
      </script>
    </body>
  </html>
